.grundlagen-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    margin-top:30px;
}

.box{
    background:#fff;
    padding:20px;
    border-radius:12px;
}

.sicherheitsliste li{
    margin-bottom:15px;
    font-size:18px;
}

.formel{
    margin-bottom:30px;
}

.formel-box{
    background:#fff8ef;
    border:2px solid #ff9800;
    padding:20px;
    text-align:center;
    font-size:35px;
    font-weight:bold;
    border-radius:12px;
    margin:15px 0;
    color:#ff9800;
}

.warnung-box{
    background:#fff3e0;
    border:2px solid #ff9800;
    padding:15px;
    border-radius:12px;
    margin-top:25px;
    font-weight:bold;
}

.info-box{
    background:#e3f2fd;
    border:2px solid #64b5f6;
    padding:15px;
    border-radius:12px;
    margin-top:20px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

table, th, td{
    border:1px solid #ddd;
}

th{
    background:#ff9800;
    color:white;
}

th, td{
    padding:12px;
}

/* AUTOMATISIERUNGSTECHNIK */

.auto-list{
    list-style:none;
    padding:0;
    margin-top:20px;
}

.auto-list li{
    margin-bottom:18px;
    font-size:18px;
    background:white;
    padding:15px;
    border-radius:12px;
    border:1px solid #eee;
    transition:0.3s;
    box-shadow:0 2px 8px rgba(0,0,0,0.03);
}

.auto-list li:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

#automatisierung p{
    font-size:18px;
    line-height:1.8;
    color:#444;
}

#automatisierung .warnung-box{
    margin-top:35px;
    background:#fff3e0;
    border:2px solid #ff9800;
    padding:20px;
    border-radius:12px;
    font-weight:600;
    font-size:17px;
}
